{% extends "base.html" %}

{% block title %}детали заказа №{{ order.id }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mt-4 mb-4">
    <h2 class="mb-0">детали заказа №{{ order.id }}</h2>

    <div class="d-flex align-items-center">
        {% if order.status == '✈️ доставка' %}
        <form method="POST" action="{{ url_for('order_details', order_id=order.id) }}" class="me-3">
            <button type="submit" name="done" class="btn btn-outline-success">заказ получен</button>
        </form>
        {% endif %}

        <span class="badge
            {% if order.status == '✅ доставлен' %}
                bg-success
            {% elif order.status == '❌ отменен' %}
                bg-danger
            {% else %}
                bg-secondary
            {% endif %}
        " style="font-size: 1.3rem; padding: 0.6em 1em;">
            {{ order.status }}
        </span>
    </div>
</div>


<div class="container">
    <div class="row mb-4">
        <div class="col-md-6">
            <p><strong>получатель:</strong> {{ name }} {{ number }}</p>
            <p><strong>город доставки:</strong> {{ order.city }}</p>
            <p><strong>итоговая сумма:</strong> {{ order.total|format_price }} ₽</p>
            <p><strong>дата заказа:</strong> {{ order.formated_date }}</p>

            {% if order.status == '✅ доставлен' %}
            <p><strong>дата получения:</strong> {{ order.formated_date_done }}</p>
            {% endif %}
        </div>
    </div>

    <h3>товары в заказе</h3>
    <div class="row">
        {% for product_id, quantity in product_counts.items() %}
        {% set product = Products.query.get(product_id) %}
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}"
                     style="height: 200px; object-fit: contain;">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-2">
                        <h5 class="card-title mb-0">{{ product.name }}</h5>
                        {% if not product.is_delete %}
                        <form method="POST" action="{{ url_for('toggle_like', product_id=product.id) }}" class="ms-2">
                            <button type="submit" class="btn border-0 p-0 bg-transparent">
                                {% if product.id in liked_products %}
                                <i class="bi bi-heart-fill text-danger fs-4"></i>
                                {% else %}
                                <i class="bi bi-heart text-secondary fs-4"></i>
                                {% endif %}
                            </button>
                        </form>
                        {% endif %}
                    </div>
                    <p class="card-text">цена за шт: {{ product.price|format_price }} ₽</p>
                    <p class="card-text">кол-во: {{ quantity }}</p>
                    <p class="card-text"><strong>сумма: {{ (product.price * quantity)|format_price }} ₽</strong></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h3>детали заказа</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">товар</th>
            <th scope="col">цена за шт</th>
            <th scope="col">кол-во</th>
            <th scope="col">сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for product_id, quantity in product_counts.items() %}
        {% set product = Products.query.get(product_id) %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price|format_price }} ₽</td>
            <td>{{ quantity }}</td>
            <td>{{ (product.price * quantity)|format_price }} ₽</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-4">
        <a href="{{ url_for('orders') }}" class="btn btn-secondary">назад</a>

        {% if order.status == '✈️ доставка'%}
        <form action="{{ url_for('order_details', order_id=order.id) }}" method="POST" class="d-inline">
            <button type="submit" name="cancel" class="btn btn-danger">отменить заказ</button>
        </form>
        {% endif %}
        {% if not flag %}
        <form method="POST" class="d-inline">
            <button type="submit" name="again" class="btn btn-success">заказать еще раз</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
