{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image_url }}"
                 class="card-img-top"
                 alt="{{ product.name }}"
                 style="height: 300px; object-fit: contain; border-radius: 10px;">
        </div>
        <div class="col-md-6">
            <h1 class="display-4">{{ product.name }}</h1>
            <h3 class="text-primary my-3">
                <span style="white-space: nowrap;">{{ product.price|format_price }} ₽</span>
            </h3>
            <p class="lead">{{ product.description }}</p>
            <p><strong>продавец:</strong> {{ product.owner }}</p>
            <p><strong>категория:</strong> {{ product.category }}</p>
            <p><strong>рейтинг:</strong> {{ product.rating }}</p>
            <p><strong>id:</strong> {{ product.id }}</p>

            <form action="{{ url_for('product', product_id=product.id) }}" method="POST">
                {% if count_in_cart > 0 %}
                <div class="d-flex align-items-center gap-3">
                    <button type="submit" name="decrease" class="btn btn-outline-secondary btn-lg">-</button>
                    <span class="fs-4">{{ count_in_cart }}</span>
                    <button type="submit" name="increase" class="btn btn-outline-secondary btn-lg">+</button>
                    <button type="submit" name="remove" class="btn btn-danger btn-lg">×</button>
                </div>
                {% else %}
                <div class="d-flex gap-2">
                    <button type="submit" name="add" class="btn btn-primary btn-lg">добавить в корзину</button>
                </div>
                {% endif %}
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" name="back" class="btn btn-outline-success btn-lg shadow-lg rounded-4">
                        назад
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
