{% extends "base.html" %}

{% block title %}результаты поиска{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>результаты поиска по запросу: «{{ query }}»</h2>

    <form method="GET" action="{{ url_for('search', query=query) }}">
        <div class="row mb-4">
            <div class="col-md-3">
                <label for="category_filter" class="form-label">категория</label>
                <select id="category_filter" name="category" class="form-select" onchange="this.form.submit()">
                    <option value="">все категории</option>
                    {% for category in categories %}
                    <option value="{{ category }}" {% if category== selected_category %}selected{% endif %}>{{ category
                        }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-3">
                <label for="seller_filter" class="form-label">продавец</label>
                <select id="seller_filter" name="seller" class="form-select" onchange="this.form.submit()">
                    <option value="">все продавцы</option>
                    {% for seller in owners %}
                    <option value="{{ seller }}" {% if seller== selected_seller %}selected{% endif %}>{{ seller }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-3">
                <label for="price_min" class="form-label">цена</label>
                <div class="d-flex">
                    <input type="number" id="price_min" name="price_min" class="form-control" placeholder="от"
                           value="{{ price_min }}" onchange="this.form.submit()">
                    <span class="mx-2">до</span>
                    <input type="number" id="price_max" name="price_max" class="form-control" placeholder="до"
                           value="{{ price_max }}" onchange="this.form.submit()">
                </div>
            </div>

            <div class="col-md-3">
                <label for="rating_min" class="form-label">рейтинг от</label>
                <input type="number" id="rating_min" name="rating_min" class="form-control" step="0.1" min="0" max="5"
                       placeholder="от" value="{{ rating_min }}" onchange="this.form.submit()">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-3">
                <label for="sort_filter" class="form-label">сортировка</label>
                <select id="sort_filter" name="sort" class="form-select" onchange="this.form.submit()">
                    <option value="id" {% if sort_filter=='id' %}selected{% endif %}>по id</option>
                    <option value="price" {% if sort_filter=='price' %}selected{% endif %}>по цене</option>
                    <option value="rating" {% if sort_filter=='rating' %}selected{% endif %}>по рейтингу</option>
                </select>
            </div>
        </div>
    </form>

    {% if products %}
    <div class="row mt-4">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <a href="{{ url_for('product', product_id=product.id) }}" class="text-decoration-none text-dark">
                    <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}"
                         style="height: 200px; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ product.name }}
                            <form method="POST" action="{{ url_for('toggle_like', product_id=product.id) }}"
                                  class="d-inline ms-2">
                                <button type="submit" class="btn border-0 p-0 bg-transparent">
                                    {% if product.id in liked_products %}
                                    <i class="bi bi-heart-fill text-danger fs-4"></i>
                                    {% else %}
                                    <i class="bi bi-heart text-secondary fs-4"></i>
                                    {% endif %}
                                </button>
                            </form>
                        </h5>
                        <h4 class="text-primary"><span
                                style="white-space: nowrap;">{{ product.price|format_price }} ₽</span></h4>
                        <p class="card-text"><strong>продавец:</strong> {{ product.owner }}</p>
                        <p class="card-text"><strong>категория:</strong> {{ product.category }}</p>
                        <p class="card-text"><strong>рейтинг:</strong> {{ product.rating }}</p>
                    </div>

                </a>
                <div class="card-footer">
                    {% if product.id in product_counts %}
                    <div class="d-flex align-items-center justify-content-between">
                        <form method="POST"
                              action="{{ url_for('search', query=query, category=selected_category, seller=selected_seller, price_min=price_min, price_max=price_max, rating_min=rating_min, rating_max=rating_max, sort=sort_filter) }}"
                              class="d-inline">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button name="decrease" value="{{ product.id }}" type="submit"
                                    class="btn btn-outline-secondary">-
                            </button>
                        </form>

                        <span>{{ product_counts[product.id] }} шт.</span>

                        <form method="POST"
                              action="{{ url_for('search', query=query, category=selected_category, seller=selected_seller, price_min=price_min, price_max=price_max, rating_min=rating_min, rating_max=rating_max, sort=sort_filter) }}"
                              class="d-inline">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button name="increase" value="{{ product.id }}" type="submit"
                                    class="btn btn-outline-secondary">+
                            </button>
                        </form>

                        <form method="POST"
                              action="{{ url_for('search', query=query, category=selected_category, seller=selected_seller, price_min=price_min, price_max=price_max, rating_min=rating_min, rating_max=rating_max, sort=sort_filter) }}"
                              class="d-inline">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button name="remove" value="{{ product.id }}" type="submit" class="btn btn-outline-danger">
                                &times;
                            </button>
                        </form>
                    </div>
                    {% else %}
                    <form method="POST"
                          action="{{ url_for('search', query=query, category=selected_category, seller=selected_seller, price_min=price_min, price_max=price_max, rating_min=rating_min, rating_max=rating_max, sort=sort_filter) }}">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit" class="btn btn-primary w-100">добавить в корзину</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-warning">товары по запросу не найдены</div>
    {% endif %}
</div>
{% endblock %}
